
<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button [routerLink]="['/']" class="btn btn-link">To the main page</button>
    </div>

    <div class="info">
        <strong>Author Here</strong>

        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, perferendis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, perferendis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, perferendis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, perferendis!</p>
    </div>
</div>